/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: 'Arial';
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  background: #ffffff;
  max-width: 100vw;
  overflow-x: hidden;
}

a:active,
a:hover {
  outline: 0;
}

:focus {
  outline: 0;
}

strong {
  font-weight: bold;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  box-sizing: border-box;
  resize: none;
}

.hidden {
  display: none !important;
}

.overflow-visible {
  overflow: visible !important;
}

header{
  position: relative;
  z-index: 10;
  /* background-color:rgba(255, 255, 255, 0.8); */
  
}

.logo{
  position: relative;
  padding: 20px;
  display: inline-block;
  overflow: hidden;
  
  
}


.logo img {
  position: relative;
  z-index: 2;
}

nav{
  position: fixed;
  top: 60px;
  right: 0px;
  z-index: 30;
  padding: 15px 15px;
  background-color:rgba(255, 255, 255, 0.8);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  
}

nav a {
  font-size: 20px;
  padding:0px 20px;
  
  
}

@media only screen and (max-width: 960px) {

  nav {
    position: relative;
    top: auto;
    right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    
    
  }
  nav a {
    color:#fff;
  }

}

section.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.slider {
  height: 100vh;
  width: 400vw;
  display: flex;
  animation-duration: 21s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.slide {
  height: 100vh;
  width: 100vw;
}

.slide{
  position: relative;

}

.slide span {
  
  position: absolute;
  bottom:0px ;
  left: 0px;
  padding:20px 30px;
  font-size: 3em;
  font-weight:normal;
  color: #fff;
  /* text-shadow: 2px 2px 1px rgba(0,0, 0, 0.3), -2px -2px 1px rgba(0,0, 0, 0.3); */
  line-height: 1.4em;
  
  width: 100%;
  
  /* border-radius: 0px 20px 20px 0px; */
  
}

.slide span:before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: calc(100%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.slide span em{
  position: relative;
  z-index: 5;
  font-style: normal;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width:768px) {
  .slide span {
  font-size: 2em;
  }
}

@media only screen and (max-width:400px) {
  .slide span {
  font-size: 1em;
  padding:10px 15px;
  
  width: 100%;
  }
}



.slide-1{
  background: url('images/astronot.jpeg') center center no-repeat;
  background-size: cover;
  
}

.slide-1 span {color: #fff;}

.slide-2{
  background: url('images/enjoyment.jpeg') center center no-repeat;
  background-size: cover; 
}

.slide-2 span {color: #fff;}

.slide-3{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slide.slide-3 div.slide-custom{
  
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.slide.slide-3 div.slide-custom em{
  width: 100%;
  padding-top: 75%;
  background: url('images/image.jpg') center center no-repeat;
  background-size: cover;
  display: block;
}



.slide-3 span {color: #fff;}

footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content:center;
  color: #fff;
  background-color: #000;
  position: fixed;
  box-sizing: border-box;
  left: 0px;
  bottom: 0px;
  z-index: 20;
  display: none;

}

footer a {
  padding: 0 20px;
  color: #fff;
}



/*SERVICES*/

.container.page-services header{
  

}

.container.page-services .content{
  padding-top: 140px;
  height: calc(100vh);
  box-sizing: border-box;
  background: url('images/drawings.jpg') center center no-repeat;
  background-size: cover;

}

.content-inner{
  background-color: rgba(255, 255, 255, 0.95);
  height: calc(100vh - 140px); 
  overflow: hidden;
  background:url('images/design.jpeg') right center no-repeat rgba(255, 255, 255, 0.95);
  background-size: 800px auto;
}

@media only screen and (max-width: 1000px) {

  .content-inner{
   
    background:rgba(255, 255, 255, 0.95);
    
  }
  

}

.content-inner:before{
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: url('images/drawings.jpg') center center no-repeat;
  background-size: cover;
  filter: blur(30px);
  z-index: 0;
  opacity: 0.2;
  display: none;
}

.content-inner > div {
  position: relative;
  z-index: 5;
  color: #666;
}

.content-inner > div > h1 {
  color: #333;
}

.content-inner > div.services > p  {
  margin-top: 10px;

}



.content-inner > div > ul > li {
  line-height: 1.5em;
}




















@media only screen and (max-width: 960px) {
  .container.page-services .content{
    padding-top: 190px;
    height: calc(100vh); 
  }

}

.services,.fyk {
  padding: 60px 60px 0 60px;
}

.services p {
  font-size: 20px;
} 


.services ul ,.fyk ul  {
  list-style:disc;
  padding: 20px;
}


/*CONTACT*/
.contact-info {
  padding: 60px;
  font-size: 20px;
  width:400px;
  max-width: 100%;
  line-height: 1.3em;
}

.contact-info * {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

.contact-info h1 {
  font-size: 24px;
}

.container.page-services.page-contact .content-inner {
  background:rgba(255, 255, 255, 0.95);
}


/*ANIMATIONS*/


@keyframes slidein {
  from {
    margin-left:0%;    
  }

  4% {    
    margin-left:-100%;
    
  }

  32% {    
    margin-left:-100%;
    
  }

  36% {    
    margin-left:-200%;
    
  }

  64% {    
    margin-left:-200%;
    
  }

  68%{    
    margin-left:-300%;
    
  }

  to {
    margin-left:-300%;
  }
}
